<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    var app = angular.module("listApp", []);
app.directive("addListItem", function() {
	listToDo.push(newListItem);
	newListItem = "";
	console.log(newListItem);
	return {
		template: "<li>{{newListItem}}</li>"
	};
});
app.controller("ctrl", function($scope) {
	$scope.listToDo = ["Go for a run", "Make dinner", "Hang out with friends"];
	$scope.newListItem = "";
	$scope.addListItem = function(newItem) {
		$scope.listToDo.push(newItem);
		$scope.newListItem = "";
	};
	$scope.removeItem = function(itemToRemove) {
		$scope.listToDo.splice($scope.listToDo.indexOf(itemToRemove), 1);
	};
});
</script>
	<title>AngularJS practice</title>
</head>
<body>
    <div ng-app="listApp" ng-controller="ctrl">
        <input type="text" ng-model="newListItem">
        <button ng-click="addListItem(newListItem)">Add Item</button>
        <ul>
            <li ng-repeat="toDo in listToDo track by $index">
                <button ng-click="removeItem(toDo)">Done</button>
                {{ toDo }}
            </li>
        </ul>

    </div
</body>
</html>
